@mixin animate($name) {
  animation: ease-in-out 150ms $name forwards;
}

.dialog {
  &[open] {
    will-change: opacity;
    @include animate(dialogAnimation);

    &::backdrop {
      will-change: contents, opacity;
      @include animate(backdropAnimation);
    }
  }
}

@keyframes dialogAnimation {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes backdropAnimation {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(24px);
  }
}
