@use 'src/styles/components' as components;
@use 'src/styles/utils' as utils;
@import '@icon-park/react/styles/index.css';
@import 'react-image-crop/src/ReactCrop.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-group-horizontal {
    @include components.button-group(map-get(components.$button-group-direction, horizontal));
  }
  .button-group-vertical {
    @include components.button-group(map-get(components.$button-group-direction, vertical));
  }
}

@layer utilities {
  .positioner {
    @include utils.positioner();
  }
  .underline-custom-animated {
    @include utils.underline-custom-animated()
  }
  .underline-custom-active {
    @include utils.underline-custom-active()
  }
}

html,
body {
  height: 100%;
}

html {
  text-size-adjust: 100%;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}
