@use 'src/styles/utils' as utils;
@import '@icon-park/react/styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .positioner {
    @include utils.positioner();
  }
  .underline-custom-animated {
    @include utils.underline-custom-animated()
  }
  .underline-custom-active {
    @include utils.underline-custom-active()
  }
}

html,
body {
  height: 100%;
}

html {
  text-size-adjust: 100%;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}
